.Dimensiones{
    position: relative;
    width: 1440px;
    height: 824px;
    background: #F3F5FC;

}
#icono{

    position: absolute;
    width: 120px;
    height: 48px;
    left: 20px;
    top: 40px;
    
}

#Muñeco{
    position: absolute;
    width: 290px;
    height: 280px;
    left: 1060px;
    top: 115px;
    z-index:1; 
    
}
#Rectangulo{
    /* Rectangle 1 */


    position: absolute;
    width: 400px;
    height: 640px;
    left: 1000px;
    top: 30px;

    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
#pagina2{
    position: absolute;
    width: 336px;
    height: 781px;
    left: 1032px;
    top: 72px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    

    /* Gray/gray-400 */
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: #495057;
}

#vector{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 245px;
    top: 590px;

}

.texto, textarea{
    position: absolute;
    width: 577px;
    height: 288px;
    left: 240px;
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;

    background-color: #F3F5FC;
    border: none;

    white-space: pre-wrap; 
    word-wrap: break-word;
    overflow-wrap: "anywhere";
    
    outline: none;
    color: #0A3871;
    resize: none;
}
.frame5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 1032px;
    top: 420px;

  }
  
.frame5 contexto-1{
    width: 336px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #343A40;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  
.frame5 contexto-2{
    width: 336px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #495057;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.frame3{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 610px;
}

.frame3 .boton1{

    /* Button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}
.boton1:active {
    /* Estilos cuando se presiona el botón */
    transform: translateY(1px);
    box-shadow: none;
}
.frame3 letra1{
    /* Button */


    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.frame3 .boton2{
    /* Button */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.boton2:active {
    /* Estilos cuando se presiona el botón */
    transform: translateY(1px);
    box-shadow: none;
}
.frame3 letra2{
    /* Button */


    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}
.frame4 .boton3{
    
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 1032px;
    top: 605px;

    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;
}
.boton3:active {
    /* Estilos cuando se presiona el botón */
    transform: translateY(1px);
    box-shadow: none;
}
.frame4 letra3{
    /* Button */


    width: 288px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}
.frame1{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;
}
.frame1 .circulo{
    width: 16px;
    height: 16px;
    
    
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    
}
.frame1 condicion{
    width: 205px;
    height: 18px;
    margin-top: -531px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Gray/gray-400 */

    color: #495057;

    opacity: 0.8;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}